@import '../02_config/functions';

.radio {
  width: 100%;
  padding: 40px 0;

  .tracks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.track {

  .track__controls {
    display: grid;
    justify-items: center;
    row-gap: 8px;

    .track__controls__volume {
      width: 60%;
      transform: rotate(-90deg);
      margin: 40px 0;
    }

    .track__controls__play {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}
